<% include partials/header %>
    <div class="whole">
        <div class="container">
            <h2 class="title text-white">Movie App Search Engine</h2>
            <form method="GET" action="/results">
                <label for="query" class="text-white">Enter movie name:</label>
                <input id="query" type="text" name="term" class="form-control search" />
                <button class="btn btn-danger explore">Search</button>
            </form>
        </div>
    </div>    
<% include partials/footer %>