<% include partials/header %>
    <div class="container">
        <h2 class="title">Movie App Search Engine</h2>
        <form method="GET" action="/results">
            <label for="query">Enter movie name:</label>
            <input id="query" type="text" name="term" class="form-control search" />
<<<<<<< HEAD
            <button class="btn btn-primary explore">Search</button>
=======
            <button class="btn btn-info explore">Search</button>
>>>>>>> a627cfc4b1734a0370708a5652a9c2ed4c0f4286
        </form>
    </div>
<% include partials/footer %>